.lista-notas {
  background-color: var(--fundo);
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
  max-width: 480px;
}
.lista-notas_item {
  margin: 12px;
  max-width: 240px;
  max-height: 400px;
  display: inline;
}
